

.bingoContainer {
  width: 60vw;
  margin: 0 auto;
  height: 80vh;
  display: grid;
  grid-template-columns: repeat(5, 1fr);
  grid-template-rows: repeat(5, 1fr);
}
.title{
  margin: 0 auto;
  text-align: center;
  font-size: 4rem;
  font-family: 'Times New Roman', Times, serif;
}
.centered{
  margin-top: 1rem;
  display: flex;
  align-items: center;
  justify-content: center;
}
.btn {
    padding: 10px 20px;
    font-size: 14px;
    border: 1px solid #ccc;
    border-radius: 5px;
    cursor: pointer;
    margin: 5px;
    background: white;
    color: black;
}

.btn:hover {
    background: #f0f0f0;
}